.team-section {
  background-color: var(--secondaty-bg-color);
}
.work-team {
  display: flex;
}
.people-box {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}
.people-box:nth-child(4n) {
  margin-right: 0;
}
.people-box:nth-child(n + 4) {
  margin-right: 0;
}
.people {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: var(--title-text-color);
}
.profession {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}
.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 30px;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--primery-accent-color);
  }
  &:hover .social-list-icon,
  &:focus .social-list-icon {
    fill: var(--primary-bg-color);
  }
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  align-items: center;
  justify-content: center;
  transition: fill 250ms var(--timing-function);
}
